<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRM系统</title>

    <link th:href="@{/favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/jquery/jquery-1.11.1-min.js}" type="text/javascript"></script>
    <script th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}" type="text/javascript"></script>

    <script type="text/javascript">
        //页面加载完毕
        $(function () {

            //导航中所有文本颜色为黑色
            $(".liClass > a").css("color", "black");

            //默认选中导航菜单中的第一个菜单项
            $(".liClass:first").addClass("active");

            //第一个菜单项的文字变成白色
            $(".liClass:first > a").css("color", "white");

            //给所有的菜单项注册鼠标单击事件
            $(".liClass").click(function () {
                //移除所有菜单    项的激活状态
                $(".liClass").removeClass("active");
                //导航中所有文本颜色为黑色
                $(".liClass > a").css("color", "black");
                //当前项目被选中
                $(this).addClass("active");
                //当前项目颜色变成白色
                $(this).children("a").css("color", "white");
            });

            closeUpdatePwd();

            //window.open("main/index.html", "workareaFrame");

            /**
             * 更改用户密码请求，
             */
            $("#updatePwdBtn").on("click", function () {
                let oldPwd = $("#oldPwd").val().replace(/\s/g, ""); //原密码，
                let newPwd = $("#newPwd").val().replace(/\s/g, ""); //新密码，
                let confirmPwd = $("#confirmPwd").val().replace(/\s/g, ""); //确认密码，

                if (newPwd == confirmPwd) {
                    $.ajax({
                        async: false,
                        url: "updatePwd.do",
                        type: "post",
                        data: {
                            "oldPwd": oldPwd,
                            "newPwd": newPwd,
                            "confirmPwd": confirmPwd
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.status) {
                                alert(data.message);
                                //window.location.href = "outAct.do";
                                window.location.href = "/crm/";
                                closeUpdatePwd();
                            } else {
                                alert(data.message);
                            }
                        }

                    })
                } else {
                    alert("Error 两次输入的密码不匹配！")
                }
            })

            /**
             * 安全退出请求，
             */
            $("#confirmOutBtn").on("click", function () {
                $.ajax({
                    async: false,
                    url: "outAct.do",
                    dataType: "json",
                    success: function () {
                        window.location.href = "/crm/";
                    }
                })
            })


        });

        /**
         * 清空修改密码输入栏，
         */
        function closeUpdatePwd() {
            $("#oldPwd").val(""); //原密码，
            $("#newPwd").val(""); //新密码，
            $("#confirmPwd").val(""); //确认密码，
        }

    </script>

</head>
<body>

<!-- 我的资料 -->
<div class="modal fade" id="myInformation" role="dialog">
    <div class="modal-dialog" role="document" style="width: 30%;right: -7%;top: 10%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" style="font-weight: bold">我的资料</h4>
            </div>
            <div class="modal-body">
                <div style="position: relative; left: 50px;">
                    <b>姓名：</b><span th:text="${session.userInfo.getName()}"></span><br><br>
                    <b>登录帐号：</b><span th:text="${session.userInfo.getLoginAct()}"></span><br><br>
                    <b>组织机构：</b><span th:text="${session.userInfo.getDeptno()}"></span><br><br>
                    <b>邮箱：</b><span th:text="${session.userInfo.getEmail()}"></span><br><br>
                    <b>失效时间：</b><span th:text="${session.userInfo.getExpireTime()}"></span><br><br>
                    <b>允许访问IP：</b><span th:text="${session.userInfo.getAllowIps()}"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改密码的模态窗口 -->
<div class="modal fade" id="editPwdModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 25%;right: -5%;top: 10%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true" onclick="closeUpdatePwd()">×</span>
                </button>
                <h4 class="modal-title" style="font-weight: bold;">修改密码</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="oldPwd" class="col-sm-2 control-label" style="width: 30%">原密码:</label>
                        <div class="col-sm-10" style="width: 60%;">
                            <input type="text" class="form-control" id="oldPwd" style="width: 87%;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPwd" class="col-sm-2 control-label" style="width: 30%">新密码:</label>
                        <div class="col-sm-10" style="width: 60%;">
                            <input type="text" class="form-control" id="newPwd" style="width: 87%;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPwd" class="col-sm-2 control-label" style="width: 30%">确认密码:</label>
                        <div class="col-sm-10" style="width: 60%;">
                            <input type="text" class="form-control" id="confirmPwd" style="width: 87%;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeUpdatePwd()">取消
                </button>
                <button id="updatePwdBtn" type="button" class="btn btn-primary">更新
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 退出系统的模态窗口 -->
<div class="modal fade" id="exitModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 20%;top: 10%;right: -6%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" style="font-weight: bold">离开</h4>
            </div>
            <div class="modal-body" style="right: -7%">
                <span style="color: red">您确定要退出系统吗？</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="confirmOutBtn" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 顶部 -->
<div id="top" style="height: 50px; background-color: #3C3C3C; width: 100%;">
    <div style="position: absolute; top: 5px; left: 0px; font-size: 30px; font-weight: 400; color: white; font-family: 'Microsoft YaHei UI'">
        &nbsp;CRM系统 — 主界面
    </div>
    <div style="position: absolute; top: 15px; right: 10px;">
        <ul>
            <li class="dropdown user-dropdown">
                <a href="javascript:void(0)" style="text-decoration: none; color: white;" class="dropdown-toggle"
                   data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <span th:text="${session.userInfo.getName()}"></span>&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="profile"><span class="glyphicon glyphicon-wrench"></span> 系统设置</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myInformation"><span
                            class="glyphicon glyphicon-file"></span> 我的资料</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#editPwdModal"
                           onclick="closeUpdatePwd()"><span
                            class="glyphicon glyphicon-edit"></span> 修改密码</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#exitModal"><span
                            class="glyphicon glyphicon-off"></span> 退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- 中间 -->
<div id="center" style="position: absolute;top: 50px; bottom: 30px; left: 0px; right: 0px;">

    <!-- 导航 -->
    <div id="navigation" style="left: 0px; width: 18%; position: relative; height: 100%; overflow:auto;">

        <ul id="no1" class="nav nav-pills nav-stacked">
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-home"></span> 工作台</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-tag"></span> 动态</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-time"></span> 审批</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-user"></span> 客户公海</a></li>
            <li class="liClass"><a href="activity" target="workareaFrame"><span
                    class="glyphicon glyphicon-play-circle"></span> 市场活动</a></li>
            <li class="liClass"><a href="clue/index.html" target="workareaFrame"><span
                    class="glyphicon glyphicon-search"></span> 线索（潜在客户）</a></li>
            <li class="liClass"><a href="customer/index.html" target="workareaFrame"><span
                    class="glyphicon glyphicon-user"></span> 客户</a></li>
            <li class="liClass"><a href="contacts/index.html" target="workareaFrame"><span
                    class="glyphicon glyphicon-earphone"></span> 联系人</a></li>
            <li class="liClass"><a href="transaction/index.html" target="workareaFrame"><span
                    class="glyphicon glyphicon-usd"></span> 交易（商机）</a></li>
            <li class="liClass"><a href="visit/index.html" target="workareaFrame"><span
                    class="glyphicon glyphicon-phone-alt"></span> 售后回访</a></li>
            <li class="liClass">
                <a href="#no2" class="collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-stats"></span>
                    统计图表</a>
                <ul id="no2" class="nav nav-pills nav-stacked collapse">
                    <li class="liClass"><a href="chart/activity/index.html"
                                           target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
                            class="glyphicon glyphicon-chevron-right"></span> 市场活动统计图表</a></li>
                    <li class="liClass"><a href="chart/clue/index.html" target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
                            class="glyphicon glyphicon-chevron-right"></span> 线索统计图表</a></li>
                    <li class="liClass"><a href="chart/customerAndContacts/index.html" target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
                            class="glyphicon glyphicon-chevron-right"></span> 客户和联系人统计图表</a></li>
                    <li class="liClass"><a href="chart/transaction/index.html" target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
                            class="glyphicon glyphicon-chevron-right"></span> 交易统计图表</a></li>
                </ul>
            </li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-file"></span> 报表</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-shopping-cart"></span> 销售订单</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-send"></span> 发货单</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-earphone"></span> 跟进</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-leaf"></span> 产品</a></li>
            <li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
                    class="glyphicon glyphicon-usd"></span> 报价</a></li>
        </ul>

        <!-- 分割线 -->
        <div id="divider1"
             style="position: absolute; top : 0px; right: 0px; width: 1px; height: 100% ; background-color: #B3B3B3;">

        </div>
    </div>

    <!-- 工作区 -->
    <div id="workarea" style="position: absolute; top : 0px; left: 18%; width: 82%; height: 100%;">
        <iframe style="border-width: 0px; width: 100%; height: 100%;" name="workareaFrame"></iframe>
    </div>

</div>

<div id="divider2" style="height: 1px; width: 100%; position: absolute;bottom: 30px; background-color: #B3B3B3;"></div>

<!-- 底部 -->
<div id="down" style="height: 30px; width: 100%; position: absolute;bottom: 0px;"></div>

</body>
</html>